version: '3'
services:
  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: {{ mongo_user }}
      MONGO_INITDB_ROOT_PASSWORD: {{ mongo_secret }}
      MONGO_INITDB_DATABASE: registrations
    healthcheck:
      test: ["CMD", "bash", "-c", "echo 'db.runCommand(\"ping\").ok' | mongo mongo:27017/registrations --quiet"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
  api:
    image: registry.gitlab.com/brutus333/registrations/backend:0.0.1
    restart: always
    ports:
      - "8080:8080"
    environment:
      MONGO_URL: mongodb://{{ mongo_user }}:{{ mongo_secret }}@mongo:27017/
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    depends_on:
      - mongo
  www:
    image: registry.gitlab.com/brutus333/registrations/frontend:0.0.1
    restart: always
    ports:
      - "80:80"
    depends_on:
      - mongo
      - api

